@charset "UTF-8";

*{
font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to bottom, #8C5642, #BF826B);
}

main{
    background-color: white;
    border-radius: 10px;
    margin: auto;
    padding-right: 5px;
    box-shadow: 5px 5px 15px #8a523e71;
    padding: 10px;
    width: 600px;
}

h1{
    color: #434F59;
    text-align: center;
    text-shadow: 2px 2px 5px #660f0f44;
}

h2{
    color:#A61717;
}
p{
    text-align: justify;
}